<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    td {
      text-align: center;
      padding-left, padding-right: : 10px;
    }
  </style>

<h1> ¡Alimentos! </h1>
<p><a href="/restaurants"><b>Find Restaurants</b></a></p>
<p><a href="/users"><b>Find Friends</b></a></p>
<p><a href="/mydetails"><b>My Info</b></a></p>

{% if data %}
  <h5><a href="/logout">Logout</a></h5>
{% else %}
  <h5><a href="/login">Login</a> or
  <a href="/newuser">Register</a></h5>
{% endif %}


</body>


</html>
